.chat-card {
  max-width: 350px;
  background-color: #2a373f;
}

.chat-card2 {
  background-color: white;
}
.chathead-card {
  max-width: 350px;
  background-color: white;
  color: #556369;
}

.chat-list {
  flex-grow: 1;
  height: 400px;
  overflow: auto;
}

.chat-textarea{
  background-color: white;
  border-radius: 5px;
}

textarea {
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: #fff;
  font-size: 1.2em;
  resize: none;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}


