<app-head-bar></app-head-bar>
<h2 class="title">Your Dashboard</h2>
<table class="tableMenu">
  <tr>
    <td>
      <button mat-icon-button class="menu recherche"></button>
      <h2 class="titleTD">Search</h2>
    </td>
    <td>
      <button mat-icon-button class="menu profil" [routerLink]="['/options', name]"></button>
      <h2 class="titleTD">User settings</h2>
    </td>
    <td>
      <button mat-icon-button class="menu accueil" [routerLink]="['/home']"></button>
      <h2 class="titleTD">Home</h2>
    </td>
  </tr>
  <tr>
    <td>
      <button mat-icon-button class="menu followed" [routerLink]="['/favorites']"></button>
      <h2 class="titleTD">Favorites</h2>
    </td>
    <td>
      <button mat-icon-button class="menu build"></button>
      <h2 class="titleTD">Build your configurations</h2>
    </td>
    <td>
      <button mat-icon-button class="menu configuration"></button>
      <h2 class="titleTD">Website options</h2>
    </td>
  </tr>
</table>
<app-navigation></app-navigation>
