<app-head-bar></app-head-bar>
<app-navigation></app-navigation>
<section *ngIf="!computers">
  <h2 *ngIf="!computers">Fetching favorites...</h2>
</section>
<section *ngIf="computers">
  <app-configuration-card [isFavorite]="isFavorite(computer)" (favorite)="addFavorite($event)" [computer]="computer" *ngFor="let computer of toDisplay"></app-configuration-card>
  <mat-paginator  class="computer-paginator" [length]="computers.length" [pageSize]="pageSize" (page)="pageEvent($event)">
  </mat-paginator>
</section>
